<!DOCTYPE html>
<html>

<head>
    <title class="next-head"><%- info.username%></title>
    <meta charSet="utf-8" class="next-head" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <link rel="shortcut icon" type="image/png" href="/images/logo-icon.png" />
    <link rel="stylesheet" href="/css/house.css" />
    <link href="/dist/vendors/pace-progress/css/pace.min.css" rel="stylesheet">

    <style>
            .dropdownUserAvatar:hover{
                border:1px solid #007EE5;
                border-radius: 7px;
                color:#007EE5;
            }
            .value {
                font-size: 16px;
                color: rgb(1, 126, 229);
                padding-left: 8px;
                font-weight: 600;
            }
            .bp3-heading{
                line-height: 26px;
            }
            .bp3-tab{
                outline: none;
            }
            .dEbEEE {
            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            background-color: rgb(252, 242, 203);
            color: rgb(241, 196, 15);
            padding: 2px 4px;
            border-radius: 2px;
        }
        .active{
            font-weight: 600;
        }
        .edSYmb {
    width: 100%;
}
.bhXPIm {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
}
.jWAytC {
    width: 275px;
    margin-right: 16px;
}
.kjpgjw .subMenuItem {
    margin-top: 8px;
    height: 45px;
}
.kBPpHf {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color: rgb(246, 246, 246);
    padding: 8px 16px;
    border-radius: 4px;
}
.juGMFu {
    flex: 1 1 0%;
}
.fCCwhG {
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.03);
    border-image: initial;
    border-radius: 4px;
    padding: 16px 24px;
}
form{
    display:block
}
.cFCcOE {
    font-size: 18px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    margin-top: 0px;
    border-bottom: 1px solid rgb(238, 238, 238);
}
.cFCcOE {
    font-size: 18px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    margin-top: 0px;
    border-bottom: 1px solid rgb(238, 238, 238);
}
.kBPpHf .heading {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}
.kxpEFJ {
    width: 30px;
    height: 30px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background-color: rgb(246, 246, 246);
    border-radius: 4px;
}
        </style>
</head>
<body>
    <div id="__next">
        <div class="Layout__LayoutWrapper-sc-72xje9-0 gNMUod">
                <%- include('../header')%>
    <div class="clearfix__Clearfix-w9lses-0 kQttEW" height="50"></div>
    <div class="profile__Container-sc-8m2709-0 edSYmb">
        <div class="Style__Container-y8lxdc-0 bhXPIm">
            <div class="Style__SideBar-y8lxdc-1 jWAytC">
                <div class="menu__SubMenuContainer-sc-1uux6qu-2 kjpgjw">
                    <div class="subMenuItem"><a class="menu__HeadingSubMenu-sc-1uux6qu-0 kBPpHf" href="/profile/setting">
                            <div class="heading">
                                <div class="menu__ImageWrapper-sc-1uux6qu-1 kxpEFJ"><span class="bp3-popover-wrapper"><span
                                            class="bp3-popover-target"><span class="bp3-icon bp3-icon-user" icon="user"
                                                tabindex="0"><svg data-icon="user" width="16" height="16"
                                                    viewBox="0 0 16 16">
                                                    <desc>user</desc>
                                                    <path
                                                        d="M7.99-.01A7.998 7.998 0 0 0 .03 8.77c.01.09.03.18.04.28.02.15.04.31.07.47.02.11.05.22.08.34.03.13.06.26.1.38.04.12.08.25.12.37.04.11.08.21.12.32a6.583 6.583 0 0 0 .3.65c.07.14.14.27.22.4.04.07.08.13.12.2l.27.42.1.13a7.973 7.973 0 0 0 3.83 2.82c.03.01.05.02.07.03.37.12.75.22 1.14.29l.2.03c.39.06.79.1 1.2.1s.81-.04 1.2-.1l.2-.03c.39-.07.77-.16 1.14-.29.03-.01.05-.02.07-.03a8.037 8.037 0 0 0 3.83-2.82c.03-.04.06-.08.09-.13.1-.14.19-.28.28-.42.04-.07.08-.13.12-.2.08-.13.15-.27.22-.41.04-.08.08-.17.12-.26.06-.13.11-.26.17-.39.04-.1.08-.21.12-.32.04-.12.08-.24.12-.37.04-.13.07-.25.1-.38.03-.11.06-.22.08-.34.03-.16.05-.31.07-.47.01-.09.03-.18.04-.28.02-.26.04-.51.04-.78-.03-4.41-3.61-7.99-8.03-7.99zm0 14.4c-1.98 0-3.75-.9-4.92-2.31.67-.36 1.49-.66 2.14-.95 1.16-.52 1.04-.84 1.08-1.27.01-.06.01-.11.01-.17-.41-.36-.74-.86-.96-1.44v-.01c0-.01-.01-.02-.01-.02-.05-.13-.09-.26-.12-.39-.28-.05-.44-.35-.5-.63-.06-.11-.18-.38-.15-.69.04-.41.2-.59.38-.67v-.06c0-.51.05-1.24.14-1.72.02-.13.05-.26.09-.39.17-.59.53-1.12 1.01-1.49.49-.38 1.19-.59 1.82-.59.62 0 1.32.2 1.82.59.48.37.84.9 1.01 1.49.04.13.07.26.09.4.09.48.14 1.21.14 1.72v.07c.18.08.33.26.37.66.03.31-.1.58-.16.69-.06.27-.21.57-.48.62-.03.13-.07.26-.12.38 0 .01-.01.04-.01.04-.21.57-.54 1.06-.94 1.42 0 .06.01.13.01.19.04.43-.12.75 1.05 1.27.65.29 1.47.6 2.14.95a6.415 6.415 0 0 1-4.93 2.31z"
                                                        fill-rule="evenodd"></path>
                                                </svg></span></span></span></div><span class="title">Thông tin cá
                                    nhân</span>
                            </div>
                        </a></div>
                        <div class="subMenuItem"><a class="menu__HeadingSubMenu-sc-1uux6qu-0 kBPpHf" href="/profile/security">
                            <div class="heading">
                                <div class="menu__ImageWrapper-sc-1uux6qu-1 kxpEFJ"><span class="bp3-popover-wrapper"><span
                                    class="bp3-popover-target"><span class="bp3-icon bp3-icon-key" icon="key"
                                        tabindex="0"><svg data-icon="key" width="16" height="16"
                                            viewBox="0 0 16 16">
                                            <desc>key</desc>
                                            <path
                                                d="M11 0C8.24 0 6 2.24 6 5c0 1.02.31 1.96.83 2.75L.29 14.29a1.003 1.003 0 0 0 1.42 1.42L3 14.41l1.29 1.29c.18.19.43.3.71.3s.53-.11.71-.29l2-2c.18-.18.29-.43.29-.71 0-.28-.11-.53-.29-.71L6.41 11l1.83-1.83c.8.52 1.74.83 2.76.83 2.76 0 5-2.24 5-5s-2.24-5-5-5zm0 8c-.23 0-.45-.03-.66-.08-.01 0-.02-.01-.03-.01-.21-.05-.41-.12-.6-.21a3.014 3.014 0 0 1-1.62-2c0-.01-.01-.02-.01-.03C8.03 5.45 8 5.23 8 5c0-1.66 1.34-3 3-3s3 1.34 3 3-1.34 3-3 3z"
                                                fill-rule="evenodd"></path>
                                        </svg></span></span></span></div><span class="title">Thay đổi mật khẩu</span>
                            </div>
                        </a></div>
                </div>
            </div>
            <div class="Style__Content-y8lxdc-2 juGMFu">
                <form name="form" method="POST" action="/profile/setting/password" onsubmit="return changePass()" class="Style__Container-sc-8jp12d-0 fCCwhG">
                    <h4 class="Style__Title-sc-8jp12d-1 cFCcOE">Thay đổi mật khẩu</h4>
                    <div class="bp3-form-group bp3-intent-"><label class="bp3-label">Mật khẩu cũ <span
                                class="bp3-text-muted"></span></label>
                        <div class="bp3-form-content">
                            <div class="bp3-input-group bp3-intent- bp3-large"><input type="password" name="oldpass" class="bp3-input"
                                    style="padding-right: 10px;"></div>
                        </div>
                    </div>
                    <div class="bp3-form-group bp3-intent-"><label class="bp3-label">Mật khẩu mới <span
                        class="bp3-text-muted"></span></label>
                <div class="bp3-form-content">
                    <div class="bp3-input-group bp3-intent- bp3-large"><input type="password" name="newpass" class="bp3-input"
                            style="padding-right: 10px;"></div>
                </div>
            </div>
            <div class="bp3-form-group bp3-intent-"><label class="bp3-label">Nhập lại mật khẩu <span
                class="bp3-text-muted"></span></label>
        <div class="bp3-form-content">
            <div class="bp3-input-group bp3-intent- bp3-large"><input type="password" name="repass" class="bp3-input"
                    style="padding-right: 10px;"></div>
        </div>
    </div>
                   <button type="submit" class="bp3-button bp3-fill bp3-large bp3-intent-primary"><span
                            class="bp3-button-text">Lưu lại</span></button>
                </form>
                <script>
                    function changePass(){
                        if(form.newpass.value !== form.repass.value){
                            alert('Mật khẩu nhập lại không khớp');
                            return false;
                        }
                        return true;
                    }
                </script>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>
<script src="/dist/node_modules/pace-progress/pace.min.js"></script>

</html>